@page
@model Learner_Management_System.Pages_Assessments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.AssessmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.AssessmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.AssessmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.AssessmentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.MaxScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.MaxScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.PassingScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.PassingScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.WeightPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.WeightPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.Qualification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.Qualification.QualificationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.AssessmentBank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.AssessmentBank.BankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment.CreatedBy.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Assessment.AssessmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
