@page
@model Learner_Management_System.Pages_LearnerUploads.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].UploadCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].FileData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].ReviewComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].Learner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnerUpload[0].Assessment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LearnerUpload) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment.AssessmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UploadId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UploadId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UploadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
