@page
@model Learner_Management_System.Pages_Learners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Learners</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Learners.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Learners.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Learners.LearnerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
