@page
@model Learner_Management_System.Pages_DocumentWorkflows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocumentWorkflow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.DocumentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.DocumentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.PreviousStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.PreviousStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.Feedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.Feedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.ActionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.ActionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.AssessmentBank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.AssessmentBank.BankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.AdminUpload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.AdminUpload.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.Assessment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.Assessment.AssessmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.RandomizedPaper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.RandomizedPaper.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentWorkflow.ActionBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentWorkflow.ActionBy.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DocumentWorkflow.WorkflowId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
